
/* Definições gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #04C4D9;
}

/* Cabeçalho */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #0388A6;
    color: rgb(255, 255, 255);
    padding: 20px;
}

header img {
    height: 50px;
}

nav a {
    background:#04C4D9;
    color: #ffffff;
    font-weight: bold;
    border: none;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

nav a:hover{
    background: #0388A6;
    color: white;
}
/* Seções */
section {
    padding: 50px;
    margin: 20px auto;
    width: 75%;
    border-radius: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #045061;
    text-align: center;
}

#inicio{
    background-color: #F2F2F2;
}

#sobre{
    background: #000000;
    padding: 50px;
    margin: 100px;
    border-radius: 30px;
    margin-top: 30px;
    color: #F2F2F2;
    margin-bottom: 40px;
}

#sobre h2{
    color: #00eaff;
}

h2 {
    color: #0388A6;
    border-bottom: 3px solid #ccc;
    padding-bottom: 12px;
    margin-bottom: 25px;
}

img {
    max-width: 100%;
    display: block;
    margin: 20px auto;
    height: auto;
    border-radius: 10px;
    margin-top: 15px;
}

#ler{
    background-color: #F2F2F2;
    margin-bottom: 40px;
}

/* Personagens */
#perso {
    background-color: #000; /* Fundo preto */
    color: #F2F2F2; /* Texto branco */
    padding: 50px;
    border-radius: 30px;
    max-width: 800px;
    margin: 10px auto;
    margin-top: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
}

#perso h2 {
    color: #00eaff;
    font-size: 24px;
    margin-bottom: 20px;
}

#perso h3 {
    color: #fff;
    font-size: 20px;
    margin-top: 15px;
}

#perso img {
    width: 150px; 
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 15px;
}

/* avaliafilme */

#avaliafilme {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    border-radius: 10px;
    box-shadow: none;
}

#avaliafilme .branco {
    background-color: #F2F2F2;
    padding: 50px;
    border-radius: 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 48;
    margin-bottom: 40px;
}

/* Estilo da caixa lateral de curiosidades */
#avaliafilme .preto {
    background-color: black;
    color: #F2F2F2;
    padding: 50px;
    border-radius: 30px;
    width: 25%;
}

/* Ajustando título de curiosidades */
#avaliafilme .preto h2 {
    color: #00BCD4;
}

/* Ajustando espaçamento entre elementos */
#avaliafilme p {
    font-size: 14px;
    line-height: 1.5;
}

/* Ajuste do player de vídeo */
#avaliafilme iframe {
    width: 100%;
    border-radius: 10px;
}

/* Botões */
footer {
    background: #0388A6;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

footer button,a {
    background:#04C4D9;
    color: #ffffff;
    font-weight: bold;
    border: none;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

footer button:hover {
    background: #F2F2F2;
    color: #0388A6;
}

footer a:hover {
    text-decoration: none;
    background: #F2F2F2;
    color: #0388A6;
}

